* {
    box-sizing: border-box;
  }
  
  h1, h2, p {
    text-align: center;
  }
  
  button {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  main {
    border: 1px solid;
    min-height: 300px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .image {
    height: 150px;
    width: 50%;
    background-color: gray;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  
  .choices {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  
  .answer {
    display: block;
  }